一个基于 Dify 的自动化文案生成与质量校验工作流。.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: '2'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.15@ca2b8f2599b87de968354f0e2ccbbc0d76bac5ebf275c3f0fbdae48881d74518
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1773281720379-source-1773281791887-target
      selected: false
      source: '1773281720379'
      sourceHandle: source
      target: '1773281791887'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1773281791887-source-1773282143907-target
      selected: false
      source: '1773281791887'
      sourceHandle: source
      target: '1773282143907'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1773282478166-source-1773282596415-target
      selected: false
      source: '1773282478166'
      sourceHandle: source
      target: '1773282596415'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773282143907-false-1773282311195-target
      selected: false
      source: '1773282143907'
      sourceHandle: 'false'
      target: '1773282311195'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773282143907-false-1773282321906-target
      selected: false
      source: '1773282143907'
      sourceHandle: 'false'
      target: '1773282321906'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: document-extractor
      id: 1773282321906-source-1773282478166-target
      selected: false
      source: '1773282321906'
      sourceHandle: source
      target: '1773282478166'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: llm
      id: 1773282311195-source-1773282596415-target
      selected: false
      source: '1773282311195'
      sourceHandle: source
      target: '1773282596415'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773282596415-source-1773367723125-target
      selected: false
      source: '1773282596415'
      sourceHandle: source
      target: '1773367723125'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773367723125-source-1773367907136-target
      selected: false
      source: '1773367723125'
      sourceHandle: source
      target: '1773367907136'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773367907136-source-1773368861377-target
      selected: false
      source: '1773367907136'
      sourceHandle: source
      target: '1773368861377'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1773368861377-true-17733693716890-target
      selected: false
      source: '1773368861377'
      sourceHandle: 'true'
      target: '17733693716890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17733693716890-source-17733693716891-target
      selected: false
      source: '17733693716890'
      sourceHandle: source
      target: '17733693716891'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17733693716891-source-1773369863458-target
      selected: false
      source: '17733693716891'
      sourceHandle: source
      target: '1773369863458'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773369863458-true-1773369871701-target
      selected: false
      source: '1773369863458'
      sourceHandle: 'true'
      target: '1773369871701'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1773368861377-false-1773369923914-target
      selected: false
      source: '1773368861377'
      sourceHandle: 'false'
      target: '1773369923914'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1773369863458-false-17733699374190-target
      selected: false
      source: '1773369863458'
      sourceHandle: 'false'
      target: '17733699374190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: 1773369923914-source-1773299267586-target
      selected: false
      source: '1773369923914'
      sourceHandle: source
      target: '1773299267586'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1773299267586-source-1773299312753-target
      selected: false
      source: '1773299267586'
      sourceHandle: source
      target: '1773299312753'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: 17733699374190-source-1773299267586-target
      selected: false
      source: '17733699374190'
      sourceHandle: source
      target: '1773299267586'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: draft
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: draft
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - audio
          - video
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: file
          max_length: 5
          options: []
          placeholder: ''
          required: true
          type: file-list
          variable: user_file
        - default: ''
          hint: ''
          label: voice
          max_length: 2048
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: voice_and_tone
        - default: ''
          hint: ''
          label: platform
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: platform
      height: 186
      id: '1773281720379'
      position:
        x: 0
        y: 94
      positionAbsolute:
        x: 0
        y: 94
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: '# TASK DESCRIPTION

          Parse platform names from input and output as a JSON array.


          ## PROCESSING RULES

          - Support multiple delimiters: commas, semicolons, spaces, line breaks,
          "and", "&", "|", etc.

          - Standardize common platform name variants (twitter/X→Twitter, insta→Instagram,
          etc.)

          - Remove duplicates and invalid entries

          - Preserve unknown but reasonable platform names

          - Preserve the original language of platform names


          ## OUTPUT REQUIREMENTS

          - Success: ["Platform1", "Platform2"]

          - No platforms found: [No platforms identified. Please enter a valid platform
          name.]


          ## EXAMPLES

          - Input: "twitter, linkedin" → ["Twitter", "LinkedIn"]

          - Input: "x and insta" → ["Twitter", "Instagram"]

          - Input: "invalid content" → [No platforms identified. Please enter a valid
          platform name.]'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        parameters:
        - description: The platform(s) for which the user wants to create tailored
            content.
          name: platform
          required: true
          type: array[string]
        query:
        - '1773281720379'
        - platform
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 87
      id: '1773281791887'
      position:
        x: 342
        y: 143
      positionAbsolute:
        x: 342
        y: 143
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: a86ad067-ba27-437f-b62a-13c9e7960dcf
            value: No platforms identified. Please enter a valid platform name.
            varType: array[string]
            variable_selector:
            - '1773281791887'
            - platform
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 123
      id: '1773282143907'
      position:
        x: 683
        y: 125
      positionAbsolute:
        x: 683
        y: 125
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - image
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作
        type: list-operator
        var_type: array[file]
        variable:
        - '1773281720379'
        - user_file
      height: 91
      id: '1773282311195'
      position:
        x: 1044
        y: 0
      positionAbsolute:
        x: 1044
        y: 0
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作 2
        type: list-operator
        var_type: array[file]
        variable:
        - '1773281720379'
        - user_file
      height: 91
      id: '1773282321906'
      position:
        x: 1044
        y: 177
      positionAbsolute:
        x: 1044
        y: 177
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1773282321906'
        - result
      height: 103
      id: '1773282478166'
      position:
        x: 1385
        y: 171
      positionAbsolute:
        x: 1385
        y: 171
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 9340f183-e138-401c-80c0-e8a68ae33439
          role: system
          text: '# ROLE & TASK

            You are a content strategist. Analyze the provided draft and reference
            materials (if any), then create a comprehensive content foundation for
            multi-platform social media optimization.


            # ANALYSIS PRINCIPLES

            - Work exclusively with provided information—no external assumptions

            - Focus on extraction, synthesis, and strategic interpretation

            - Identify compelling and actionable elements

            - Prepare insights adaptable across different platforms


            # REQUIRED ANALYSIS

            Deliver structured analysis with:


            ## 1. CORE MESSAGE

            - Central theme, purpose, objective

            - Key value or benefit being communicated


            ## 2. ESSENTIAL CONTENT ELEMENTS

            - Primary topics, facts, statistics, data points

            - Notable quotes, testimonials, key statements

            - Features, benefits, characteristics mentioned

            - Dates, locations, contextual details


            ## 3. STRATEGIC INSIGHTS

            - What makes content compelling/unique

            - Emotional/rational appeals present

            - Credibility factors, proof points

            - Competitive advantages highlighted


            ## 4. ENGAGEMENT OPPORTUNITIES

            - Discussion points, questions emerging

            - Calls-to-action, next steps suggested

            - Interactive/participation opportunities

            - Trending themes touched upon


            ## 5. PLATFORM OPTIMIZATION FOUNDATION

            - High-impact: Quick, shareable formats

            - Professional: Business-focused discussions

            - Community: Interaction and sharing

            - Visual: Enhanced with strong visuals


            ## 6. SUPPORTING DETAILS

            - Metrics, numbers, quantifiable results

            - Direct quotes, testimonials

            - Technical details, specifications

            - Background context available'
        - id: 47c1f115-b67a-4b6e-b43b-6df2aff1ddcc
          role: user
          text: 'Draft: {{#1773281720379.draft#}}

            Reference material: {{#1773282478166.text#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773282321906'
            - result
          enabled: true
      height: 87
      id: '1773282596415'
      position:
        x: 1746
        y: 165
      positionAbsolute:
        x: 1746
        y: 165
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "{% if llm1 %}\r\n{{ llm1 }}\r\n{% elif llm2 %}\r\n{{ llm2 }}\r\n\
          {% endif %}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1773369923914'
          - result
          value_type: string
          variable: llm1
        - value_selector:
          - '17733699374190'
          - result
          value_type: string
          variable: llm2
      height: 51
      id: '1773299267586'
      position:
        x: 4534
        y: 350
      positionAbsolute:
        x: 4534
        y: 350
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773299267586'
          - output
          value_type: string
          variable: output
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773299312753'
      position:
        x: 4875
        y: 332
      positionAbsolute:
        x: 4875
        y: 332
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 8cc039d1-e919-4dc2-b47e-37f77a61b05e
          role: system
          text: 请针对图片 ，分别为 {{#1773281720379.platform#}} 里的每个平台写一段文案。请严格按照 JSON 格式输出：{“用户输入”：“文案内容”}不要生成颜文字
        selected: false
        title: LLM 4
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773281720379'
            - user_file
          enabled: true
      height: 87
      id: '1773367723125'
      position:
        x: 2087
        y: 165
      positionAbsolute:
        x: 2087
        y: 165
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1d6cf092-a181-4b51-ac76-aaf44e6ca082
          role: system
          text: 请审核以下生成的文案内容{{#1773367723125.text#}}。如果文案合规且包含所有请求平台的内容，请仅输出 pass。如果不合规，请仅输出
            FALSE。
        selected: false
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773367907136'
      position:
        x: 2428
        y: 165
      positionAbsolute:
        x: 2428
        y: 165
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: c445e1af-10c6-477f-aa27-336997fc09bc
            value: 'FALSE'
            varType: string
            variable_selector:
            - '1773367907136'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 123
      id: '1773368861377'
      position:
        x: 2769
        y: 147
      positionAbsolute:
        x: 2769
        y: 147
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 8cc039d1-e919-4dc2-b47e-37f77a61b05e
          role: system
          text: 请针对图片 {{#1773281720379.user_file#}}，分别为 {{#1773281720379.platform#}}
            里的每个平台写一段文案。请严格按照 JSON 格式输出：{“用户输入”：“文案内容”}
        selected: false
        title: LLM 4 (1)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773281720379'
            - user_file
          enabled: true
      height: 87
      id: '17733693716890'
      position:
        x: 3130
        y: 177
      positionAbsolute:
        x: 3130
        y: 177
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '17733693716890'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1d6cf092-a181-4b51-ac76-aaf44e6ca082
          role: system
          text: '请审核以下生成的文案内容{{#1773367723125.text#}}。如果文案合规且包含所有请求平台的内容，请仅输出 pass。

            如果不通过就将文本改为“{出错了请重新开始}”'
        selected: false
        title: LLM 5 (1)
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17733693716891'
      position:
        x: 3471
        y: 177
      positionAbsolute:
        x: 3471
        y: 177
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 9164cf13-197b-4fe8-a609-fa1cb0176d39
            value: 出错了请重新开始
            varType: string
            variable_selector:
            - '17733693716891'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 123
      id: '1773369863458'
      position:
        x: 3812
        y: 159
      positionAbsolute:
        x: 3812
        y: 159
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '17733693716891'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773369871701'
      position:
        x: 4173
        y: 87
      positionAbsolute:
        x: 4173
        y: 87
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(llm: str):\n    # 转换为字符串并去除两端空格\n\
          \    raw_text = str(llm).strip()\n    \n    try:\n        # 1. 核心修复：使用正则匹配\
          \ {} 及其内部的所有内容\n        # 这样即使模型输出了 ```json 或者 \"这是我为你生成的文案：{...}\" 都能正确提取\n\
          \        match = re.search(r'\\{.*\\}', raw_text, re.DOTALL)\n        if\
          \ match:\n            json_content = match.group(0)\n        else:\n   \
          \         json_content = raw_text\n            \n        data = json.loads(json_content)\n\
          \        \n        # 2. 拼接输出（使用 Dify 默认习惯的 result 作为 Key）\n        output\
          \ = \"✨ 社交媒体文案已生成：\\n\\n\"\n        for platform, content in data.items():\n\
          \            output += f\"【{platform}】\\n{content}\\n\"\n            output\
          \ += \"---------------------------\\n\"\n            \n        return {\n\
          \            \"result\": output  # 确保这里的 Key 在节点输出设置中已定义\n        }\n  \
          \      \n    except Exception as e:\n        # 报错兜底：至少把原话传出去，不至于工作流中断\n\
          \        return {\n            \"result\": f\"⚠️ 解析说明：模型返回格式略有偏差，原始内容如下：\\\
          n\\n{raw_text}\"\n        }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1773367723125'
          - text
          value_type: string
          variable: llm
      height: 80
      id: '1773369923914'
      position:
        x: 3832
        y: 344
      positionAbsolute:
        x: 3832
        y: 344
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(llm: str):\n    # 转换为字符串并去除两端空格\n\
          \    raw_text = str(llm).strip()\n    \n    try:\n        # 1. 核心修复：使用正则匹配\
          \ {} 及其内部的所有内容\n        # 这样即使模型输出了 ```json 或者 \"这是我为你生成的文案：{...}\" 都能正确提取\n\
          \        match = re.search(r'\\{.*\\}', raw_text, re.DOTALL)\n        if\
          \ match:\n            json_content = match.group(0)\n        else:\n   \
          \         json_content = raw_text\n            \n        data = json.loads(json_content)\n\
          \        \n        # 2. 拼接输出（使用 Dify 默认习惯的 result 作为 Key）\n        output\
          \ = \"✨ 社交媒体文案已生成：\\n\\n\"\n        for platform, content in data.items():\n\
          \            output += f\"【{platform}】\\n{content}\\n\"\n            output\
          \ += \"---------------------------\\n\"\n            \n        return {\n\
          \            \"result\": output  # 确保这里的 Key 在节点输出设置中已定义\n        }\n  \
          \      \n    except Exception as e:\n        # 报错兜底：至少把原话传出去，不至于工作流中断\n\
          \        return {\n            \"result\": f\"⚠️ 解析说明：模型返回格式略有偏差，原始内容如下：\\\
          n\\n{raw_text}\"\n        }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 代码执行 (1)
        type: code
        variables:
        - value_selector:
          - '17733693716890'
          - text
          value_type: string
          variable: llm
      height: 80
      id: '17733699374190'
      position:
        x: 4173
        y: 254
      positionAbsolute:
        x: 4173
        y: 254
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1382.5910620798986
      y: 210.27223803756846
      zoom: 0.4629373762930176
  rag_pipeline_variables: []
